*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding: 4rem;
}

.img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6.4rem;
  position: relative;
}

.img-item {
  width: 500px;
  height: 500px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
.img-item img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: none;
}

.result {
  position: absolute;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  -webkit-box-shadow: 0 0 1rem #000;
          box-shadow: 0 0 1rem #000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  top: 20rem;
  left: 20rem;
  pointer-events: none;
}

.result.hide {
  visibility: hidden;
}